body{
display: flex;
    flex-direction: column;
    align-items: center;
}
.alert-info{
    background-color: lightskyblue;
    border: solid black 1px;
    width: 100%;
    height: 3em;
    text-align: center;
    line-height: 3em;
    text-decoration: none;
}
.nav-links{
    width: 100%;
    list-style-type: none;
}
li{
    background-color: gray;
    width: 376px;
    height: 3em;
    text-align: center;
    line-height: 3em;

}
ul{
    width: 5em;

}