body{
display: flex;
    flex-direction: column;
    align-items: center;
}
.alert-info{
    background-color: lightskyblue;
    border: solid black 1px;
    width: calc(100% - 2px);
    height: 3em;
    text-align: center;
    line-height: 3em;
    text-decoration: none;
}
.alert-info > a {
    text-decoration: none;
}
.nav-links{
    width: 100%;
    list-style-type: none;
}
nav {
    width: 100%;
}
li{
    background-color: gray;
    height: 3em;
    text-align: center;
    line-height: 3em;
    margin: inherit;
}
ul{
    padding-inline-start: unset;
}
footer {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#social-media-links {
    background-image: url("share-from-square-solid.svg");
    width: 4.3em;
    height: 1.3em;
}
/* added spacing for nav links
    refactored width styling for nav links
    removed inline start padding to align nav links
    with alert-info. Tried messing with overall document size to prevent scrolling.
    Assuming it lets you scroll because one of the box models is very wide or something
    but is annoying because makes centering difficult.*/