@media screen and (min-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .alert-info {
        background-color: lightskyblue;
        border: solid black 1px;
        width: calc(100% - 2px);
        height: 3em;
        text-align: center;
        line-height: 3em;
        text-decoration: none;
    }

    .alert-info > a {
        text-decoration: none;
    }

    .nav-links {
        width: 100%;
        list-style-type: none;
    }

    nav {
        width: 100%;
    }

    li {
        background-color: gray;
        height: 3em;
        text-align: center;
        line-height: 3em;
        margin: inherit;
    }

    ul {
        padding-inline-start: unset;
    }

    footer {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #social-media-links {
        background-image: url("share-from-square-solid.svg");
        width: 3.4em;
        height: 1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .alert-info {
        background-color: lightskyblue;
        border: solid black 1px;
        width: calc(100% - 2px);
        height: 3em;
        text-align: center;
        line-height: 3em;
        display: none;
    }

    h1 {
        align-self: flex-start;
        margin-right: auto;
        width: 10em;
    }

    .alert-info > a {
        text-decoration: none;
    }

    .nav-links {
        list-style-type: none;
        display: flex;
    }

    nav {
        width: 0;
    }

    li {
        height: 3em;
        text-align: center;
        line-height: 3em;
        margin: 1em;
    }

    ul {
        padding-inline-start: unset;
    }

    footer {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .header-img {
        margin: auto;
    }

    #social-media-links {
        background-image: url("share-from-square-solid.svg");
        width: 3.4em;
        height: 1em;
    }
}


/* added spacing for nav links
    refactored width styling for nav links
    removed inline start padding to align nav links
    with alert-info. Tried messing with overall document size to prevent scrolling.
    Assuming it lets you scroll because one of the box models is very wide or something
    but is annoyingg because makes centering difficult.*/